<div class="datepicker">
  <h5>Choose a specific date</h5>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>
<div class="range">
  <h5>Choose a range of dates</h5>
  <mat-form-field>
    <input matInput placeholder="Choose range of dates" [satDatepicker]="picker1" [value]="date">
    <sat-datepicker #picker1 [rangeMode]="true"></sat-datepicker>
    <sat-datepicker-toggle matSuffix [for]="picker1"></sat-datepicker-toggle>
  </mat-form-field>
</div>
<div class="disablePopup">
  <h5>Disabled all the dates before the present date</h5>
  <mat-form-field>
    <input matInput [matDatepicker]="picker2" [max]="todayDate" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>
</div>
